html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3 {
    text-align: center
}

#game {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.game-screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 30%;
    box-sizing: border-box;
}
.game-log-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    height: 20%; /* Defines the overall height of the log area */
    z-index: 1000;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #f9f9f9; /* Added a background color for visibility */
    display: flex; /* Use flexbox to arrange heading and scrollable content */
    flex-direction: column; /* Stack children vertically */
    border: 1px solid #ccc; /* Added a border for visual separation */
}

    .game-log-wrapper h3 {
        margin-top: 0;
        margin-bottom: 5px; /* Space between heading and scrollable content */
        font-size: 1.2em;
        /* Any specific styling for the heading */
    }

.log-entries-container {
    flex-grow: 1; /* Allows this div to take up all available vertical space */
    overflow-y: auto; /* This is crucial for scrolling the entries */
    padding-right: 5px; /* Adds space for the scrollbar, preventing text from touching it */
    /* You might want to add a background color here if you want the scrollable area to have a different background */
    /* background-color: #eee; */
}

    .log-entries-container p {
        margin-bottom: 2px;
        font-size: 0.9em;
        line-height: 1.3;
    }
.menu, .controls, .char-creation {
    justify-items: center
}

.menu-button, area-button {
    display: block;
    width: 200px;
    margin-bottom: 10px;
}

.player-info {
    padding-top: 1%;
}

.hud {
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hud-options {
    display: flex;
    gap: 10px;
}

#game-content, .combat-arena {
    width: 100%;
    height: 100%;
}

#main-menu, .controls {
    justify-items: center
}

.game-screen {
    justify-items: center;
}

.area-options {
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
}
.area-options h2 {
    margin-bottom: 0.5rem;
    text-align: center;
}

.area-button {
    width: 100%;
    text-align: center;
    padding: 0.75rem 1.5rem; 
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}